<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @font-face {
            font-family: 'Ownglyph_kimkonghae';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/Ownglyph_kimkonghae.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body style="background-color: bisque; font-family: Ownglyph_kimkonghae">
    <h1 style="background-color: sandybrown">아자아자화이팅</h1>

    <script>
        alert("Hello sy");
    </script>
</body>
</html>